﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:375px;
  height:667px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:62px;
  width:30px;
  height:30px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:21px;
  width:465px;
  height:256px;
  color:#FFFFFF;
  line-height:28px;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:25px;
  width:30px;
  height:30px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:732px;
  width:375px;
  height:667px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:14px;
  width:375px;
  height:667px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:20px;
  width:380px;
  height:227px;
  color:#FFFFFF;
  line-height:28px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:20px;
  width:30px;
  height:30px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:775px;
  width:370px;
  height:187px;
  color:#FFFFFF;
  line-height:28px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:775px;
  width:30px;
  height:30px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:43px;
  height:43px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:183px;
  width:33px;
  height:33px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:29px;
  word-wrap:break-word;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:205px;
  width:44px;
  height:38px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:43px;
  height:43px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:312px;
  width:33px;
  height:33px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:29px;
  word-wrap:break-word;
}
#u1056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:315px;
  width:466px;
  height:100px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u1057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:205px;
  width:238px;
  height:38px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:71px;
  width:359px;
  height:33px;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:84px;
  width:30px;
  height:30px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:80px;
  width:185px;
  height:38px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:802px;
  width:177px;
  height:38px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:775px;
  width:30px;
  height:30px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:43px;
  height:43px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:172px;
  width:33px;
  height:33px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:29px;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:43px;
  height:43px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:390px;
  width:33px;
  height:33px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:29px;
  word-wrap:break-word;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:424px;
  width:466px;
  height:124px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  word-wrap:break-word;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:394px;
  width:235px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:886px;
  width:363px;
  height:36px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:99px;
  width:0px;
  height:0px;
}
#u1068_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:293px;
  height:8px;
}
#u1068_seg1 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:-44px;
  width:8px;
  height:48px;
}
#u1068_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1068_seg3 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:-51px;
  width:20px;
  height:20px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:62px;
  width:0px;
  height:0px;
}
#u1069_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-31px;
  width:8px;
  height:31px;
}
#u1069_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-31px;
  width:248px;
  height:8px;
}
#u1069_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1069_seg3 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-37px;
  width:20px;
  height:20px;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:200px;
  width:0px;
  height:0px;
}
#u1070_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u1070_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:80px;
  height:8px;
}
#u1070_seg2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-6px;
  width:8px;
  height:217px;
}
#u1070_seg3 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:203px;
  width:37px;
  height:8px;
}
#u1070_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1070_seg5 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:197px;
  width:20px;
  height:20px;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:189px;
  width:0px;
  height:0px;
}
#u1071_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:178px;
  height:8px;
}
#u1071_seg1 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-4px;
  width:8px;
  height:148px;
}
#u1071_seg2 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:136px;
  width:16px;
  height:8px;
}
#u1071_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1071_seg4 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:130px;
  width:20px;
  height:20px;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:790px;
  width:0px;
  height:0px;
}
#u1072_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u1072_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:134px;
  height:8px;
}
#u1072_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1072_seg3 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:407px;
  width:0px;
  height:0px;
}
#u1073_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u1073_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1073_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
