﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1337px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:728px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:728px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:782px;
  width:10px;
  height:14px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:781px;
  width:57px;
  height:16px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:50px;
  width:485px;
  height:136px;
  color:#FFFFFF;
  line-height:28px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:196px;
  width:485px;
  height:160px;
  color:#FFFFFF;
  line-height:28px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:473px;
  width:503px;
  height:194px;
  color:#FFFFFF;
  line-height:28px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:137px;
  width:49px;
  height:16px;
  color:#FF0000;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1096px;
  width:454px;
  height:112px;
  line-height:28px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:33px;
  width:189px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:76px;
  width:75px;
  height:24px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:77px;
  width:96px;
  height:29px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:375px;
  height:264px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:123px;
  width:30px;
  height:30px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:349px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:375px;
  height:349px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:386px;
  width:30px;
  height:30px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:728px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:50px;
  width:375px;
  height:728px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:59px;
  width:30px;
  height:30px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:59px;
  width:30px;
  height:30px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:74px;
  width:0px;
  height:0px;
}
#u473_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u473_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-35px;
  width:8px;
  height:39px;
}
#u473_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-35px;
  width:286px;
  height:8px;
}
#u473_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u473_seg4 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:-40px;
  width:19px;
  height:18px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:28px;
  width:30px;
  height:30px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:43px;
  width:0px;
  height:0px;
}
#u475_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u475_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u475_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-9px;
  width:19px;
  height:18px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:196px;
  width:30px;
  height:30px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:74px;
  width:0px;
  height:0px;
}
#u477_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u477_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:145px;
}
#u477_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:133px;
  width:16px;
  height:8px;
}
#u477_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u477_seg4 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:128px;
  width:19px;
  height:18px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:430px;
  width:152px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:403px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:148px;
  height:8px;
}
#u479_seg1 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-4px;
  width:8px;
  height:31px;
}
#u479_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u479_seg3 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:14px;
  width:18px;
  height:19px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:390px;
  width:63px;
  height:26px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:390px;
  width:63px;
  height:26px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:356px;
  width:124px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:356px;
  width:125px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:403px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u484_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-4px;
  width:8px;
  height:20px;
}
#u484_seg2 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:8px;
  width:180px;
  height:8px;
}
#u484_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u484_seg4 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:3px;
  width:19px;
  height:18px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:86px;
  top:3px;
  width:100px;
  word-wrap:break-word;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:385px;
  width:155px;
  height:60px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:473px;
  width:30px;
  height:30px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:138px;
  width:0px;
  height:0px;
}
#u487_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:224px;
  height:8px;
}
#u487_seg1 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-4px;
  width:8px;
  height:358px;
}
#u487_seg2 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:346px;
  width:32px;
  height:8px;
}
#u487_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u487_seg4 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:341px;
  width:19px;
  height:18px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:170px;
  top:71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:1102px;
  width:30px;
  height:30px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:401px;
  width:0px;
  height:0px;
}
#u489_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u489_seg1 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:-4px;
  width:8px;
  height:724px;
}
#u489_seg2 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:712px;
  width:253px;
  height:8px;
}
#u489_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u489_seg4 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:707px;
  width:19px;
  height:18px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:53px;
  top:423px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:297px;
  width:30px;
  height:30px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:700px;
  width:494px;
  height:91px;
  color:#FFFFFF;
  line-height:28px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:700px;
  width:30px;
  height:30px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:312px;
  width:0px;
  height:0px;
}
#u493_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u493_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:411px;
}
#u493_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:399px;
  width:44px;
  height:8px;
}
#u493_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u493_seg4 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:394px;
  width:19px;
  height:18px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:198px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:795px;
  width:182px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:255px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:822px;
  width:375px;
  height:255px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:787px;
  width:62px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:787px;
  width:124px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:254px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:821px;
  width:375px;
  height:254px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:795px;
  width:150px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
