﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:258px;
  width:357px;
  height:239px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:71px;
  width:129px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:103px;
  width:430px;
  height:60px;
  color:#FFFFFF;
  line-height:20px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:50px;
  width:30px;
  height:30px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:264px;
  width:0px;
  height:0px;
}
#u193_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u193_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-203px;
  width:8px;
  height:207px;
}
#u193_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-203px;
  width:17px;
  height:8px;
}
#u193_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u193_seg4 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-208px;
  width:19px;
  height:18px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:249px;
  width:30px;
  height:30px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:376px;
  width:374px;
  height:243px;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
  color:#FFFFFF;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:0px;
  width:187px;
  height:30px;
  color:#FFFFFF;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:187px;
  height:36px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:30px;
  width:187px;
  height:36px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:187px;
  height:36px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:66px;
  width:187px;
  height:36px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:37px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:187px;
  height:37px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:37px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:102px;
  width:187px;
  height:37px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:187px;
  height:52px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:139px;
  width:187px;
  height:52px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:191px;
  width:187px;
  height:52px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:191px;
  width:187px;
  height:52px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:142px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:202px;
  width:600px;
  height:142px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  line-height:20px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:175px;
  width:500px;
  height:20px;
  color:#FF3333;
  line-height:20px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:54px;
  width:120px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:65px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u211_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:224px;
  height:8px;
}
#u211_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u211_seg3 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:-10px;
  width:19px;
  height:18px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
