﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:911px;
  width:38px;
  height:26px;
}
#u2032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:914px;
  width:20px;
  height:20px;
}
#u2033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u2034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u2036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:77px;
  width:30px;
  height:30px;
}
#u2036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:30px;
  height:30px;
}
#u2037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:70px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:102px;
  width:349px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u2039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u2040_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:50px;
  width:30px;
  height:30px;
}
#u2040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:73px;
  width:0px;
  height:0px;
}
#u2041_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u2041_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-12px;
  width:8px;
  height:16px;
}
#u2041_seg2 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-12px;
  width:332px;
  height:8px;
}
#u2041_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2041_seg4 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-17px;
  width:19px;
  height:18px;
}
#u2041_text {
  border-width:0px;
  position:absolute;
  left:141px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:55px;
  width:104px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:65px;
  width:0px;
  height:0px;
}
#u2043_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u2043_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2043_seg2 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2043_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:73px;
  width:75px;
  height:37px;
}
#u2044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:99px;
  width:30px;
  height:30px;
}
#u2045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:162px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:194px;
  width:423px;
  height:60px;
  color:#FFFFFF;
  line-height:20px;
}
#u2047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u2048_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:145px;
  width:30px;
  height:30px;
}
#u2048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:114px;
  width:0px;
  height:0px;
}
#u2049_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u2049_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:54px;
}
#u2049_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:42px;
  width:19px;
  height:8px;
}
#u2049_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2049_seg4 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:37px;
  width:19px;
  height:18px;
}
#u2049_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:120px;
  width:308px;
  height:263px;
}
#u2050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:177px;
  width:30px;
  height:30px;
}
#u2051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2052_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:600px;
  width:30px;
  height:30px;
}
#u2052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:192px;
  width:0px;
  height:0px;
}
#u2053_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u2053_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:431px;
}
#u2053_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:419px;
  width:23px;
  height:8px;
}
#u2053_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2053_seg4 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:414px;
  width:19px;
  height:18px;
}
#u2053_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:170px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:600px;
  width:289px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u2055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:629px;
  width:442px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u2055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  word-wrap:break-word;
}
#u2056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:340px;
  width:36px;
  height:37px;
}
#u2056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:369px;
  width:30px;
  height:30px;
}
#u2057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:160px;
  width:0px;
  height:0px;
}
#u2058_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u2058_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:486px;
  height:8px;
}
#u2058_seg2 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:-5px;
  width:8px;
  height:183px;
}
#u2058_seg3 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:170px;
  width:77px;
  height:8px;
}
#u2058_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u2058_seg5 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:165px;
  width:19px;
  height:18px;
}
#u2058_text {
  border-width:0px;
  position:absolute;
  left:312px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:779px;
  width:30px;
  height:30px;
}
#u2059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:779px;
  width:229px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u2061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:811px;
  width:349px;
  height:60px;
  color:#FFFFFF;
  line-height:20px;
}
#u2061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:384px;
  width:0px;
  height:0px;
}
#u2062_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u2062_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-4px;
  width:8px;
  height:418px;
}
#u2062_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:406px;
  width:37px;
  height:8px;
}
#u2062_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2062_seg4 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:401px;
  width:19px;
  height:18px;
}
#u2062_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:204px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:264px;
  width:374px;
  height:303px;
}
#u2064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
  color:#FFFFFF;
}
#u2064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u2065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:0px;
  width:187px;
  height:30px;
  color:#FFFFFF;
}
#u2065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u2066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:187px;
  height:30px;
}
#u2066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u2067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:30px;
  width:187px;
  height:30px;
}
#u2067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u2068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:187px;
  height:30px;
}
#u2068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:60px;
  width:187px;
  height:30px;
}
#u2069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  word-wrap:break-word;
}
#u2070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:187px;
  height:36px;
}
#u2070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u2071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:90px;
  width:187px;
  height:36px;
}
#u2071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u2072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:187px;
  height:36px;
}
#u2072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u2073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:36px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:126px;
  width:187px;
  height:36px;
}
#u2073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:183px;
  word-wrap:break-word;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:37px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:187px;
  height:37px;
}
#u2074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:37px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:162px;
  width:187px;
  height:37px;
}
#u2075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:187px;
  height:52px;
}
#u2076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:199px;
  width:187px;
  height:52px;
}
#u2077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:183px;
  word-wrap:break-word;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:251px;
  width:187px;
  height:52px;
}
#u2078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u2079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:251px;
  width:187px;
  height:52px;
}
#u2079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:183px;
  word-wrap:break-word;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:911px;
  width:38px;
  height:26px;
}
#u2081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:914px;
  width:20px;
  height:20px;
}
#u2082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  line-height:20px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:881px;
  width:65px;
  height:20px;
  color:#FF3333;
  line-height:20px;
}
#u2083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  line-height:20px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:881px;
  width:65px;
  height:20px;
  color:#FF3333;
  line-height:20px;
}
#u2084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:46px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:443px;
  width:166px;
  height:46px;
}
#u2085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:46px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:699px;
  width:166px;
  height:46px;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:46px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:699px;
  width:166px;
  height:46px;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  line-height:20px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:679px;
  width:65px;
  height:20px;
  color:#FF3333;
  line-height:20px;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  line-height:20px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:679px;
  width:65px;
  height:20px;
  color:#FF3333;
  line-height:20px;
}
#u2089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:0px;
  width:375px;
  height:667px;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:217px;
  width:308px;
  height:131px;
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:304px;
  width:30px;
  height:30px;
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:292px;
  width:97px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:324px;
  width:418px;
  height:40px;
  color:#FFFFFF;
  line-height:20px;
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:263px;
  width:30px;
  height:30px;
}
#u2095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:319px;
  width:0px;
  height:0px;
}
#u2096_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u2096_seg1 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-45px;
  width:8px;
  height:49px;
}
#u2096_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-45px;
  width:21px;
  height:8px;
}
#u2096_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2096_seg4 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-50px;
  width:19px;
  height:18px;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:268px;
  width:104px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:278px;
  width:0px;
  height:0px;
}
#u2098_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:161px;
  height:8px;
}
#u2098_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2098_seg2 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:-9px;
  width:19px;
  height:18px;
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
