﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:77px;
  width:30px;
  height:30px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:30px;
  height:30px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:50px;
  width:30px;
  height:30px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:58px;
  width:0px;
  height:0px;
}
#u1694_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:8px;
  height:27px;
}
#u1694_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-27px;
  width:387px;
  height:8px;
}
#u1694_seg2 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:-27px;
  width:8px;
  height:38px;
}
#u1694_seg3 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:3px;
  width:30px;
  height:8px;
}
#u1694_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1694_seg5 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:-3px;
  width:20px;
  height:20px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:55px;
  width:120px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:65px;
  width:0px;
  height:0px;
}
#u1696_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u1696_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1696_seg2 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:77px;
  width:49px;
  height:30px;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:107px;
  width:0px;
  height:0px;
}
#u1698_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u1698_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-4px;
  width:8px;
  height:80px;
}
#u1698_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:68px;
  width:14px;
  height:8px;
}
#u1698_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1698_seg4 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:62px;
  width:20px;
  height:20px;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:92px;
  width:30px;
  height:30px;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:164px;
  width:30px;
  height:30px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:202px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:148px;
  width:361px;
  height:202px;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:234px;
  width:30px;
  height:30px;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:986px;
  width:30px;
  height:30px;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:302px;
  width:375px;
  height:667px;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:249px;
  width:0px;
  height:0px;
}
#u1705_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u1705_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-4px;
  width:8px;
  height:760px;
}
#u1705_seg2 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:748px;
  width:14px;
  height:8px;
}
#u1705_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1705_seg4 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:742px;
  width:20px;
  height:20px;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:356px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:574px;
  width:301px;
  height:124px;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:624px;
  width:30px;
  height:30px;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:194px;
  width:0px;
  height:0px;
}
#u1708_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:446px;
}
#u1708_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:438px;
  width:66px;
  height:8px;
}
#u1708_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1708_seg3 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:432px;
  width:20px;
  height:20px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:244px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:542px;
  width:30px;
  height:30px;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:639px;
  width:0px;
  height:0px;
}
#u1710_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:171px;
  height:8px;
}
#u1710_seg1 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-86px;
  width:8px;
  height:90px;
}
#u1710_seg2 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-86px;
  width:43px;
  height:8px;
}
#u1710_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1710_seg4 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:-92px;
  width:20px;
  height:20px;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:1140px;
  width:120px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1150px;
  width:0px;
  height:0px;
}
#u1712_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u1712_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1712_seg2 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:1135px;
  width:30px;
  height:30px;
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:289px;
  width:0px;
  height:0px;
}
#u1714_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:167px;
  height:8px;
}
#u1714_seg1 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:-4px;
  width:8px;
  height:869px;
}
#u1714_seg2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:857px;
  width:33px;
  height:8px;
}
#u1714_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1714_seg4 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:851px;
  width:20px;
  height:20px;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:113px;
  top:356px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:254px;
  width:65px;
  height:36px;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:274px;
  width:30px;
  height:30px;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:73px;
  width:485px;
  height:90px;
  color:#FFFFFF;
  line-height:28px;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:174px;
  width:485px;
  height:90px;
  color:#FFFFFF;
  line-height:28px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:264px;
  width:175px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u1720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:542px;
  width:485px;
  height:183px;
  color:#FFFFFF;
  line-height:28px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:989px;
  width:485px;
  height:141px;
  color:#FFFFFF;
  line-height:28px;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:1161px;
  width:485px;
  height:95px;
  color:#FFFFFF;
  line-height:28px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
