﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:641px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:641px;
}
#u1129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:22px;
  width:30px;
  height:30px;
}
#u1130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:22px;
  width:30px;
  height:30px;
}
#u1131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:205px;
  width:30px;
  height:30px;
}
#u1132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:221px;
  width:30px;
  height:30px;
}
#u1133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:583px;
  width:30px;
  height:30px;
}
#u1134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1009px;
  width:387px;
  height:196px;
  color:#FFFFFF;
  line-height:28px;
}
#u1135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:587px;
  width:367px;
  height:55px;
}
#u1136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:618px;
  width:30px;
  height:30px;
}
#u1137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:40px;
  width:485px;
  height:136px;
  color:#FFFFFF;
  line-height:28px;
}
#u1138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:27px;
  width:182px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:37px;
  width:0px;
  height:0px;
}
#u1140_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-11px;
  width:8px;
  height:11px;
}
#u1140_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-11px;
  width:123px;
  height:8px;
}
#u1140_seg2 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-11px;
  width:8px;
  height:15px;
}
#u1140_seg3 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-4px;
  width:20px;
  height:8px;
}
#u1140_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1140_seg5 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1140_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:864px;
  width:113px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:22px;
  width:160px;
  height:40px;
}
#u1142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:37px;
  width:0px;
  height:0px;
}
#u1143_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:268px;
  height:8px;
}
#u1143_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1143_seg2 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1143_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:65px;
  width:89px;
  height:40px;
}
#u1144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:65px;
  width:30px;
  height:30px;
}
#u1145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:272px;
  width:57px;
  height:57px;
}
#u1146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:337px;
  width:55px;
  height:116px;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:459px;
  width:57px;
  height:57px;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:521px;
  width:57px;
  height:57px;
}
#u1149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:263px;
  width:30px;
  height:30px;
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:385px;
  width:30px;
  height:30px;
}
#u1151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:461px;
  width:30px;
  height:30px;
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:519px;
  width:30px;
  height:30px;
}
#u1153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:206px;
  width:387px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:341px;
  width:375px;
  height:85px;
  color:#FFFFFF;
  line-height:28px;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:340px;
  width:30px;
  height:30px;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:449px;
  width:506px;
  height:116px;
  color:#FFFFFF;
  line-height:28px;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1158_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:447px;
  width:30px;
  height:30px;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:585px;
  width:409px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  word-wrap:break-word;
}
#u1160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:724px;
  width:406px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:725px;
  width:30px;
  height:30px;
}
#u1161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:864px;
  width:360px;
  height:118px;
  color:#FFFFFF;
  line-height:28px;
}
#u1162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:863px;
  width:30px;
  height:30px;
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1009px;
  width:193px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1008px;
  width:30px;
  height:30px;
}
#u1165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:80px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1166_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:302px;
  height:8px;
}
#u1166_seg1 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:-4px;
  width:8px;
  height:148px;
}
#u1166_seg2 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:136px;
  width:25px;
  height:8px;
}
#u1166_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1166_seg4 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:130px;
  width:20px;
  height:20px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:236px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1167_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:270px;
  height:8px;
}
#u1167_seg1 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:-4px;
  width:8px;
  height:127px;
}
#u1167_seg2 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:115px;
  width:18px;
  height:8px;
}
#u1167_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1167_seg4 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:109px;
  width:20px;
  height:20px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:400px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1168_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u1168_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:206px;
}
#u1168_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:194px;
  width:38px;
  height:8px;
}
#u1168_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1168_seg4 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:188px;
  width:20px;
  height:20px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:478px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1169_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u1169_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:270px;
}
#u1169_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:258px;
  width:48px;
  height:8px;
}
#u1169_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1169_seg4 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:252px;
  width:20px;
  height:20px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:116px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:536px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1170_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u1170_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-4px;
  width:8px;
  height:350px;
}
#u1170_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:338px;
  width:61px;
  height:8px;
}
#u1170_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1170_seg4 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:332px;
  width:20px;
  height:20px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:168px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:278px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1171_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u1171_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-4px;
  width:8px;
  height:192px;
}
#u1171_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:180px;
  width:27px;
  height:8px;
}
#u1171_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1171_seg4 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:174px;
  width:20px;
  height:20px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:633px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1172_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u1172_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-4px;
  width:8px;
  height:398px;
}
#u1172_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:386px;
  width:66px;
  height:8px;
}
#u1172_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1172_seg4 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:380px;
  width:20px;
  height:20px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:212px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
