﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:516px;
  width:375px;
  height:666px;
}
#u1569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:537px;
  width:33px;
  height:39px;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:524px;
  width:30px;
  height:30px;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:537px;
  width:50px;
  height:39px;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:537px;
  width:50px;
  height:39px;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:538px;
  width:50px;
  height:39px;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1575_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:522px;
  width:30px;
  height:30px;
}
#u1575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:1063px;
  width:57px;
  height:58px;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1123px;
  width:381px;
  height:66px;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1578_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:559px;
  width:30px;
  height:30px;
}
#u1578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1579_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:562px;
  width:30px;
  height:30px;
}
#u1579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1580_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:796px;
  width:30px;
  height:30px;
}
#u1580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1581_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:1048px;
  width:30px;
  height:30px;
}
#u1581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:1342px;
  top:1152px;
  width:30px;
  height:30px;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1583_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1583 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:983px;
  width:30px;
  height:30px;
}
#u1583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1584 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:982px;
  width:489px;
  height:61px;
  color:#FFFFFF;
  line-height:28px;
}
#u1584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1585 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1304px;
  width:375px;
  height:667px;
}
#u1585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1191px;
}
#u1587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:1191px;
}
#u1587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1588 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:163px;
  width:57px;
  height:26px;
}
#u1588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1589 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:143px;
  width:30px;
  height:30px;
}
#u1589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1590_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:143px;
  width:30px;
  height:30px;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:107px;
  width:489px;
  height:61px;
  color:#FFFFFF;
  line-height:28px;
}
#u1591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1592_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:106px;
  width:30px;
  height:30px;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:143px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1593_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-26px;
  width:8px;
  height:26px;
}
#u1593_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-26px;
  width:380px;
  height:8px;
}
#u1593_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1593_seg3 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:-32px;
  width:20px;
  height:20px;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:198px;
  width:71px;
  height:29px;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1595_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:182px;
  width:30px;
  height:30px;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1596_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:226px;
  width:30px;
  height:30px;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:1281px;
  width:506px;
  height:85px;
  color:#FFFFFF;
  line-height:28px;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:229px;
  width:485px;
  height:141px;
  color:#FFFFFF;
  line-height:28px;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:693px;
  width:471px;
  height:110px;
}
#u1600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
  color:#FFFFFF;
}
#u1600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:30px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:337px;
  height:30px;
  color:#FFFFFF;
}
#u1601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:333px;
  word-wrap:break-word;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:134px;
  height:40px;
}
#u1602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:130px;
  word-wrap:break-word;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:30px;
  width:337px;
  height:40px;
}
#u1603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:333px;
  word-wrap:break-word;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:130px;
  word-wrap:break-word;
}
#u1605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:40px;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:70px;
  width:337px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:333px;
  word-wrap:break-word;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:533px;
  width:485px;
  height:141px;
  color:#FFFFFF;
  line-height:28px;
}
#u1606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:385px;
  width:472px;
  height:110px;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
  color:#FFFFFF;
}
#u1608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:30px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:338px;
  height:30px;
  color:#FFFFFF;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:334px;
  word-wrap:break-word;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:134px;
  height:40px;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:130px;
  word-wrap:break-word;
}
#u1611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:30px;
  width:338px;
  height:40px;
}
#u1611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:334px;
  word-wrap:break-word;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:130px;
  word-wrap:break-word;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:70px;
  width:338px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:334px;
  word-wrap:break-word;
}
#u1614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:839px;
  width:485px;
  height:116px;
  color:#FFFFFF;
  line-height:28px;
}
#u1614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:947px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:948px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D8D8D8;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:984px;
  width:75px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D8D8D8;
}
#u1617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D8CF0;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:1668px;
  top:985px;
  width:75px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D8CF0;
}
#u1618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:1060px;
  width:485px;
  height:116px;
  color:#FFFFFF;
  line-height:28px;
}
#u1619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:1168px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:1673px;
  top:1169px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D8D8D8;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:1564px;
  top:1205px;
  width:75px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D8D8D8;
}
#u1622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D8CF0;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:1671px;
  top:1206px;
  width:75px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2D8CF0;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:1391px;
  width:506px;
  height:85px;
  color:#FFFFFF;
  line-height:28px;
}
#u1624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:1934px;
  width:506px;
  height:87px;
  color:#FFFFFF;
  line-height:28px;
}
#u1625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:2265px;
  top:311px;
  width:375px;
  height:667px;
}
#u1626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:2267px;
  top:1028px;
  width:375px;
  height:667px;
}
#u1627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:375px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:1518px;
  width:666px;
  height:375px;
}
#u1628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:283px;
  width:375px;
  height:667px;
}
#u1629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:199px;
  width:37px;
  height:29px;
}
#u1630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:183px;
  width:30px;
  height:30px;
}
#u1631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:188px;
  width:489px;
  height:61px;
  color:#FFFFFF;
  line-height:28px;
}
#u1632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1633_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:187px;
  width:30px;
  height:30px;
}
#u1633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:183px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1634_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-32px;
  width:8px;
  height:32px;
}
#u1634_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-32px;
  width:223px;
  height:8px;
}
#u1634_seg2 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:-32px;
  width:8px;
  height:36px;
}
#u1634_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1634_seg4 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1634_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:249px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:311px;
  width:71px;
  height:29px;
}
#u1636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:296px;
  width:30px;
  height:30px;
}
#u1637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:197px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1638_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1638_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-4px;
  width:8px;
  height:809px;
}
#u1638_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:797px;
  width:36px;
  height:8px;
}
#u1638_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1638_seg4 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:791px;
  width:20px;
  height:20px;
}
#u1638_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:384px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:311px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1639_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u1639_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:349px;
}
#u1639_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:337px;
  width:73px;
  height:8px;
}
#u1639_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1639_seg4 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:331px;
  width:20px;
  height:20px;
}
#u1639_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:172px;
  width:100px;
  word-wrap:break-word;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1013px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1640_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1640_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:31px;
  width:469px;
  height:8px;
}
#u1640_seg2 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:-302px;
  width:8px;
  height:341px;
}
#u1640_seg3 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:-302px;
  width:69px;
  height:8px;
}
#u1640_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1640_seg5 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:-308px;
  width:20px;
  height:20px;
}
#u1640_text {
  border-width:0px;
  position:absolute;
  left:362px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:445px;
  width:350px;
  height:132px;
}
#u1641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:458px;
  width:30px;
  height:30px;
}
#u1642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:1067px;
  width:30px;
  height:30px;
}
#u1643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:1066px;
  width:489px;
  height:92px;
  color:#FFFFFF;
  line-height:28px;
}
#u1644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1152px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1186px;
  width:62px;
  height:58px;
}
#u1646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:37px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:1198px;
  width:365px;
  height:37px;
}
#u1647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1153px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1266px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:473px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1650_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1650_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-4px;
  width:8px;
  height:617px;
}
#u1650_seg2 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:605px;
  width:60px;
  height:8px;
}
#u1650_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1650_seg4 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:599px;
  width:20px;
  height:20px;
}
#u1650_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:294px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1097px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1651_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:557px;
}
#u1651_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:549px;
  width:212px;
  height:8px;
}
#u1651_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1651_seg3 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:543px;
  width:20px;
  height:20px;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:372px;
  width:100px;
  word-wrap:break-word;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:530px;
  width:30px;
  height:30px;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:837px;
  width:30px;
  height:30px;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:1063px;
  width:30px;
  height:30px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:1281px;
  width:30px;
  height:30px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:1391px;
  width:30px;
  height:30px;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:1935px;
  width:30px;
  height:30px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:537px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1658_seg0 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1658_seg1 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-80px;
  width:8px;
  height:84px;
}
#u1658_seg2 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:-80px;
  width:509px;
  height:8px;
}
#u1658_seg3 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:-300px;
  width:8px;
  height:228px;
}
#u1658_seg4 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:-300px;
  width:32px;
  height:8px;
}
#u1658_seg5 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1658_seg6 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:-306px;
  width:20px;
  height:20px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:225px;
  top:-84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:522px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1659_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-26px;
  width:8px;
  height:26px;
}
#u1659_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-26px;
  width:258px;
  height:8px;
}
#u1659_seg2 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:-26px;
  width:8px;
  height:53px;
}
#u1659_seg3 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:19px;
  width:33px;
  height:8px;
}
#u1659_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1659_seg5 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:13px;
  width:20px;
  height:20px;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:559px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1660_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-43px;
  width:8px;
  height:43px;
}
#u1660_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-43px;
  width:181px;
  height:8px;
}
#u1660_seg2 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-43px;
  width:8px;
  height:340px;
}
#u1660_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:289px;
  width:49px;
  height:8px;
}
#u1660_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1660_seg5 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:283px;
  width:20px;
  height:20px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:123px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:479px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:577px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1662_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1662_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:509px;
}
#u1662_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:497px;
  width:66px;
  height:8px;
}
#u1662_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1662_seg4 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:491px;
  width:20px;
  height:20px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:238px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:811px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1663_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:191px;
  height:8px;
}
#u1663_seg1 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-4px;
  width:8px;
  height:493px;
}
#u1663_seg2 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:481px;
  width:83px;
  height:8px;
}
#u1663_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1663_seg4 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:475px;
  width:20px;
  height:20px;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:137px;
  top:180px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:1373px;
  top:1063px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1664_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u1664_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-4px;
  width:8px;
  height:351px;
}
#u1664_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:339px;
  width:100px;
  height:8px;
}
#u1664_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1664_seg4 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:333px;
  width:20px;
  height:20px;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:191px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:1167px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1665_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u1665_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-4px;
  width:8px;
  height:791px;
}
#u1665_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:779px;
  width:119px;
  height:8px;
}
#u1665_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1665_seg4 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:773px;
  width:20px;
  height:20px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:430px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1480px;
  width:485px;
  height:167px;
  color:#FFFFFF;
  line-height:28px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1635px;
  width:30px;
  height:30px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:1480px;
  width:30px;
  height:30px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:1650px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1669_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:214px;
  height:8px;
}
#u1669_seg1 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:-159px;
  width:8px;
  height:163px;
}
#u1669_seg2 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:-159px;
  width:37px;
  height:8px;
}
#u1669_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1669_seg4 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-165px;
  width:20px;
  height:20px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:2299px;
  top:577px;
  width:30px;
  height:30px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:2265px;
  top:272px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:1524px;
  top:256px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1672_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:268px;
}
#u1672_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:260px;
  width:727px;
  height:8px;
}
#u1672_seg2 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:260px;
  width:8px;
  height:48px;
}
#u1672_seg3 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:300px;
  width:79px;
  height:8px;
}
#u1672_seg4 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:300px;
  width:8px;
  height:21px;
}
#u1672_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1672_seg6 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:308px;
  width:20px;
  height:20px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:242px;
  top:255px;
  width:100px;
  word-wrap:break-word;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:560px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1673_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:272px;
}
#u1673_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:264px;
  width:729px;
  height:8px;
}
#u1673_seg2 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:59px;
  width:8px;
  height:213px;
}
#u1673_seg3 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:59px;
  width:76px;
  height:8px;
}
#u1673_seg4 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:47px;
  width:8px;
  height:20px;
}
#u1673_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1673_seg6 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:40px;
  width:20px;
  height:20px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:321px;
  top:259px;
  width:100px;
  word-wrap:break-word;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2780px;
  top:430px;
  width:516px;
  height:177px;
  color:#FFFFFF;
  line-height:28px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:2741px;
  top:430px;
  width:30px;
  height:30px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:2329px;
  top:592px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1676_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:355px;
  height:8px;
}
#u1676_seg1 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:-151px;
  width:8px;
  height:155px;
}
#u1676_seg2 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:-151px;
  width:65px;
  height:8px;
}
#u1676_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1676_seg4 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:-157px;
  width:20px;
  height:20px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:2267px;
  top:995px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:2327px;
  top:1249px;
  width:30px;
  height:30px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:1093px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1679_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:175px;
}
#u1679_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:167px;
  width:806px;
  height:8px;
}
#u1679_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1679_seg3 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:161px;
  width:20px;
  height:20px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:266px;
  top:162px;
  width:100px;
  word-wrap:break-word;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:2786px;
  top:1077px;
  width:485px;
  height:167px;
  color:#FFFFFF;
  line-height:28px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:2747px;
  top:1077px;
  width:30px;
  height:30px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:2357px;
  top:1264px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1682_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:345px;
  height:8px;
}
#u1682_seg1 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:-176px;
  width:8px;
  height:180px;
}
#u1682_seg2 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:-176px;
  width:53px;
  height:8px;
}
#u1682_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1682_seg4 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:-182px;
  width:20px;
  height:20px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:231px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:1548px;
  top:1482px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:2473px;
  top:662px;
  width:112px;
  height:40px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:2585px;
  top:682px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1685_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u1685_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-4px;
  width:8px;
  height:528px;
}
#u1685_seg2 {
  border-width:0px;
  position:absolute;
  left:-247px;
  top:516px;
  width:345px;
  height:8px;
}
#u1685_seg3 {
  border-width:0px;
  position:absolute;
  left:-247px;
  top:516px;
  width:8px;
  height:51px;
}
#u1685_seg4 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1685_seg5 {
  border-width:0px;
  position:absolute;
  left:-253px;
  top:554px;
  width:20px;
  height:20px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:396px;
  width:100px;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:1px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:2065px;
  width:58px;
  height:1px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:2066px;
  width:58px;
  height:47px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:1561px;
  top:2026px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
