﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:179px;
  width:375px;
  height:667px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:29px;
  width:30px;
  height:30px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:68px;
  width:230px;
  height:34px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:51px;
  width:30px;
  height:30px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:29px;
  width:474px;
  height:116px;
  color:#FFFFFF;
  line-height:28px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:411px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:281px;
  width:361px;
  height:411px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:66px;
  width:0px;
  height:0px;
}
#u900_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:166px;
  height:8px;
}
#u900_seg1 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-26px;
  width:8px;
  height:30px;
}
#u900_seg2 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-26px;
  width:24px;
  height:8px;
}
#u900_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u900_seg4 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-32px;
  width:20px;
  height:20px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:59px;
  width:0px;
  height:0px;
}
#u901_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:432px;
}
#u901_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:424px;
  width:36px;
  height:8px;
}
#u901_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u901_seg3 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:418px;
  width:20px;
  height:20px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:222px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:246px;
  width:234px;
  height:35px;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:331px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:228px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:243px;
  width:0px;
  height:0px;
}
#u905_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:148px;
  height:8px;
}
#u905_seg1 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-31px;
  width:8px;
  height:35px;
}
#u905_seg2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-31px;
  width:23px;
  height:8px;
}
#u905_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u905_seg4 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-37px;
  width:20px;
  height:20px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:346px;
  width:0px;
  height:0px;
}
#u906_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:257px;
  height:8px;
}
#u906_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u906_seg2 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:-10px;
  width:20px;
  height:20px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:201px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:331px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:604px;
  width:477px;
  height:196px;
  color:#FFFFFF;
  line-height:28px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:653px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:604px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:668px;
  width:0px;
  height:0px;
}
#u912_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:237px;
  height:8px;
}
#u912_seg1 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:-53px;
  width:8px;
  height:57px;
}
#u912_seg2 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:-53px;
  width:24px;
  height:8px;
}
#u912_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u912_seg4 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:-59px;
  width:20px;
  height:20px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:201px;
  width:349px;
  height:111px;
  color:#FFFFFF;
  line-height:28px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:331px;
  width:523px;
  height:253px;
  color:#FFFFFF;
  line-height:28px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
