﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:156px;
  width:375px;
  height:667px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:217px;
  width:375px;
  height:171px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:20px;
  width:379px;
  height:140px;
  color:#FFFFFF;
  line-height:28px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:69px;
  width:355px;
  height:41px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:64px;
  width:0px;
  height:0px;
}
#u438_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-33px;
  width:8px;
  height:33px;
}
#u438_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-33px;
  width:80px;
  height:8px;
}
#u438_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u438_seg3 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-38px;
  width:19px;
  height:18px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:64px;
  width:30px;
  height:30px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:20px;
  width:30px;
  height:30px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:50px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:257px;
}
#u441_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:249px;
  width:29px;
  height:8px;
}
#u441_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u441_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:244px;
  width:19px;
  height:18px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:130px;
  width:100px;
  word-wrap:break-word;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:242px;
  width:0px;
  height:0px;
}
#u442_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u442_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u442_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:19px;
  height:18px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:226px;
  width:349px;
  height:88px;
  color:#FFFFFF;
  line-height:28px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:303px;
  width:0px;
  height:0px;
}
#u444_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u444_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:61px;
}
#u444_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:49px;
  width:71px;
  height:8px;
}
#u444_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u444_seg4 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:44px;
  width:19px;
  height:18px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:341px;
  width:657px;
  height:253px;
  color:#FFFFFF;
  line-height:28px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:604px;
  width:375px;
  height:667px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:432px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:669px;
  width:375px;
  height:432px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:371px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u448_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:518px;
}
#u448_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:510px;
  width:27px;
  height:8px;
}
#u448_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u448_seg3 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:505px;
  width:19px;
  height:18px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:250px;
  width:100px;
  word-wrap:break-word;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:570px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:227px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:227px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:288px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:341px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
