﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:190px;
  width:375px;
  height:667px;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:30px;
  width:30px;
  height:30px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:32px;
  width:459px;
  height:114px;
  color:#FFFFFF;
  line-height:28px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  word-wrap:break-word;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:292px;
  width:366px;
  height:126px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:64px;
  width:0px;
  height:0px;
}
#u920_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u920_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-23px;
  width:8px;
  height:27px;
}
#u920_seg2 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-23px;
  width:30px;
  height:8px;
}
#u920_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u920_seg4 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-29px;
  width:20px;
  height:20px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:70px;
  width:111px;
  height:34px;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:49px;
  width:30px;
  height:30px;
}
#u922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:257px;
  width:113px;
  height:35px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:354px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:239px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:60px;
  width:0px;
  height:0px;
}
#u926_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:299px;
}
#u926_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:291px;
  width:34px;
  height:8px;
}
#u926_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u926_seg3 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:285px;
  width:20px;
  height:20px;
}
#u926_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:254px;
  width:0px;
  height:0px;
}
#u927_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u927_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u927_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u927_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:239px;
  width:349px;
  height:88px;
  color:#FFFFFF;
  line-height:28px;
}
#u928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:369px;
  width:0px;
  height:0px;
}
#u929_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u929_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u929_seg2 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:-10px;
  width:20px;
  height:20px;
}
#u929_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:354px;
  width:478px;
  height:195px;
  color:#FFFFFF;
  line-height:28px;
}
#u930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:239px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:354px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
