﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1599px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:119px;
  width:375px;
  height:667px;
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:222px;
  width:30px;
  height:30px;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:129px;
  width:30px;
  height:30px;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:237px;
  width:0px;
  height:0px;
}
#u1438_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u1438_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-97px;
  width:8px;
  height:101px;
}
#u1438_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-97px;
  width:41px;
  height:8px;
}
#u1438_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1438_seg4 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-103px;
  width:20px;
  height:20px;
}
#u1438_text {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:130px;
  width:318px;
  height:89px;
  color:#FFFFFF;
  line-height:28px;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:403px;
  width:30px;
  height:30px;
}
#u1440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:159px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:263px;
}
#u1441_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:255px;
  width:482px;
  height:8px;
}
#u1441_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1441_seg3 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:249px;
  width:20px;
  height:20px;
}
#u1441_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:250px;
  width:100px;
  word-wrap:break-word;
}
#u1442_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:206px;
  width:30px;
  height:30px;
}
#u1442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:293px;
  width:318px;
  height:60px;
  color:#FFFFFF;
  line-height:28px;
}
#u1443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:190px;
  width:359px;
  height:232px;
}
#u1444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:193px;
  width:46px;
  height:38px;
}
#u1445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:144px;
  width:46px;
  height:38px;
}
#u1446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:147px;
  width:30px;
  height:30px;
}
#u1447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1448_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:293px;
  width:30px;
  height:30px;
}
#u1448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:206px;
  width:318px;
  height:56px;
  color:#FFFFFF;
  line-height:28px;
}
#u1449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:162px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1450_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:328px;
  height:8px;
}
#u1450_seg1 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:-4px;
  width:8px;
  height:67px;
}
#u1450_seg2 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:55px;
  width:45px;
  height:8px;
}
#u1450_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1450_seg4 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:49px;
  width:20px;
  height:20px;
}
#u1450_text {
  border-width:0px;
  position:absolute;
  left:162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:418px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1451_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:287px;
  height:8px;
}
#u1451_seg1 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:-95px;
  width:8px;
  height:99px;
}
#u1451_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1451_seg3 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:-102px;
  width:20px;
  height:20px;
}
#u1451_text {
  border-width:0px;
  position:absolute;
  left:139px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
