﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:375px;
  height:667px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:81px;
  width:358px;
  height:37px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:1399px;
  top:604px;
  width:375px;
  height:667px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:604px;
  width:375px;
  height:667px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:604px;
  width:30px;
  height:30px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:604px;
  width:375px;
  height:667px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:66px;
  width:30px;
  height:30px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:136px;
  width:454px;
  height:233px;
  color:#FFFFFF;
  line-height:28px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:136px;
  width:30px;
  height:30px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:16px;
  width:30px;
  height:30px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:51px;
  height:51px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:2453px;
  top:225px;
  width:41px;
  height:41px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:33px;
  width:29px;
  height:38px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:38px;
  width:485px;
  height:99px;
  color:#FFFFFF;
  line-height:28px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:21px;
  width:104px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:31px;
  width:0px;
  height:0px;
}
#u700_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u700_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u700_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-9px;
  width:19px;
  height:18px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:16px;
  width:30px;
  height:30px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:31px;
  width:0px;
  height:0px;
}
#u702_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:372px;
  height:8px;
}
#u702_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u702_seg2 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:-9px;
  width:19px;
  height:18px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:134px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:457px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:121px;
  width:358px;
  height:457px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:81px;
  width:0px;
  height:0px;
}
#u704_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u704_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:78px;
}
#u704_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:66px;
  width:35px;
  height:8px;
}
#u704_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u704_seg4 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:61px;
  width:19px;
  height:18px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:381px;
  width:30px;
  height:30px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:381px;
  width:614px;
  height:197px;
  color:#FFFFFF;
  line-height:28px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:381px;
  width:30px;
  height:30px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:396px;
  width:0px;
  height:0px;
}
#u708_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u708_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u708_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-9px;
  width:19px;
  height:18px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:411px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u709_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u709_seg1 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:6px;
  width:52px;
  height:8px;
}
#u709_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:6px;
  width:8px;
  height:206px;
}
#u709_seg3 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:204px;
  width:68px;
  height:8px;
}
#u709_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u709_seg5 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:199px;
  width:19px;
  height:18px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:105px;
  width:100px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:604px;
  width:30px;
  height:30px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:604px;
  width:30px;
  height:30px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1289px;
  width:546px;
  height:90px;
  color:#FFFFFF;
  line-height:28px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1289px;
  width:30px;
  height:30px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:523px;
  width:0px;
  height:0px;
}
#u714_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u714_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:789px;
}
#u714_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:777px;
  width:135px;
  height:8px;
}
#u714_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u714_seg4 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:772px;
  width:19px;
  height:18px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:434px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:411px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u715_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u715_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:6px;
  width:27px;
  height:8px;
}
#u715_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:6px;
  width:8px;
  height:177px;
}
#u715_seg3 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:175px;
  width:510px;
  height:8px;
}
#u715_seg4 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:175px;
  width:8px;
  height:22px;
}
#u715_seg5 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:189px;
  width:6px;
  height:8px;
}
#u715_seg6 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u715_seg7 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:184px;
  width:19px;
  height:18px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:91px;
  top:170px;
  width:100px;
  word-wrap:break-word;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:411px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u716_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:166px;
}
#u716_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:158px;
  width:909px;
  height:8px;
}
#u716_seg2 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:158px;
  width:8px;
  height:54px;
}
#u716_seg3 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:204px;
  width:23px;
  height:8px;
}
#u716_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u716_seg5 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:199px;
  width:19px;
  height:18px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:352px;
  top:153px;
  width:100px;
  word-wrap:break-word;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1389px;
  width:150px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:1319px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u718_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u718_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:76px;
  width:24px;
  height:8px;
}
#u718_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u718_seg3 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:71px;
  width:19px;
  height:18px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  word-wrap:break-word;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1429px;
  width:150px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:1319px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u720_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u720_seg1 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:6px;
  width:28px;
  height:8px;
}
#u720_seg2 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:6px;
  width:8px;
  height:120px;
}
#u720_seg3 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:118px;
  width:44px;
  height:8px;
}
#u720_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u720_seg5 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:113px;
  width:19px;
  height:18px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1472px;
  width:150px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:1319px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u722_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u722_seg1 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-1px;
  width:46px;
  height:8px;
}
#u722_seg2 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-1px;
  width:8px;
  height:170px;
}
#u722_seg3 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:161px;
  width:62px;
  height:8px;
}
#u722_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u722_seg5 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:156px;
  width:19px;
  height:18px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:84px;
  width:100px;
  word-wrap:break-word;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:422px;
  width:173px;
  height:149px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:508px;
  width:30px;
  height:30px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
