﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:899px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:899px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:374px;
  width:375px;
  height:118px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:324px;
  width:375px;
  height:48px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:732px;
  width:10px;
  height:14px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:731px;
  width:57px;
  height:16px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:139px;
  width:487px;
  height:197px;
  color:#FFFFFF;
  line-height:28px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:333px;
  width:30px;
  height:30px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:382px;
  width:30px;
  height:30px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:139px;
  width:30px;
  height:30px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:348px;
  width:0px;
  height:0px;
}
#u579_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u579_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-56px;
  width:8px;
  height:60px;
}
#u579_seg2 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-56px;
  width:233px;
  height:8px;
}
#u579_seg3 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:-198px;
  width:8px;
  height:150px;
}
#u579_seg4 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:-198px;
  width:37px;
  height:8px;
}
#u579_seg5 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u579_seg6 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:-203px;
  width:19px;
  height:18px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:382px;
  width:487px;
  height:169px;
  color:#FFFFFF;
  line-height:28px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:382px;
  width:30px;
  height:30px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:397px;
  width:0px;
  height:0px;
}
#u582_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u582_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u582_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-9px;
  width:19px;
  height:18px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:591px;
  width:579px;
  height:87px;
  color:#FFFFFF;
  line-height:28px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:425px;
  width:30px;
  height:30px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:591px;
  width:30px;
  height:30px;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:440px;
  width:0px;
  height:0px;
}
#u586_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:178px;
  height:8px;
}
#u586_seg1 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-4px;
  width:8px;
  height:174px;
}
#u586_seg2 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:162px;
  width:17px;
  height:8px;
}
#u586_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u586_seg4 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:157px;
  width:19px;
  height:18px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:706px;
  width:30px;
  height:30px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:706px;
  width:335px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:746px;
  width:375px;
  height:667px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:621px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u590_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u590_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:96px;
  width:51px;
  height:8px;
}
#u590_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u590_seg3 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:91px;
  width:19px;
  height:18px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:64px;
  width:100px;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1435px;
  width:30px;
  height:30px;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1435px;
  width:335px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1475px;
  width:375px;
  height:667px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:621px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u594_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u594_seg1 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:34px;
  width:39px;
  height:8px;
}
#u594_seg2 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:34px;
  width:8px;
  height:799px;
}
#u594_seg3 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:825px;
  width:82px;
  height:8px;
}
#u594_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u594_seg5 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:820px;
  width:19px;
  height:18px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:429px;
  width:100px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:641px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1475px;
  width:375px;
  height:641px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:664px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:1475px;
  width:375px;
  height:664px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:2162px;
  width:30px;
  height:30px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:2162px;
  width:335px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:621px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u599_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u599_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:16px;
  width:68px;
  height:8px;
}
#u599_seg2 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:16px;
  width:8px;
  height:1544px;
}
#u599_seg3 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:1552px;
  width:111px;
  height:8px;
}
#u599_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u599_seg5 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1547px;
  width:19px;
  height:18px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:792px;
  width:100px;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:2202px;
  width:375px;
  height:667px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:781px;
  width:485px;
  height:175px;
  color:#FFFFFF;
  line-height:28px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:757px;
  width:134px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:773px;
  width:139px;
  height:29px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:752px;
  width:30px;
  height:30px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:767px;
  width:0px;
  height:0px;
}
#u605_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:363px;
  height:8px;
}
#u605_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u605_seg2 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:-9px;
  width:19px;
  height:18px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:752px;
  width:30px;
  height:30px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:767px;
  width:0px;
  height:0px;
}
#u607_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:145px;
  height:8px;
}
#u607_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u607_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-9px;
  width:19px;
  height:18px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:712px;
  width:182px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1441px;
  width:182px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:2168px;
  width:182px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
