﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2834px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:24px;
  width:300px;
  height:280px;
  color:#FFFFFF;
  line-height:28px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:24px;
  width:30px;
  height:30px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:192px;
  width:30px;
  height:30px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:365px;
  width:142px;
  height:55px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:364px;
  width:0px;
  height:0px;
}
#u1246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u1246_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:315px;
  height:8px;
}
#u1246_seg2 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:-161px;
  width:8px;
  height:155px;
}
#u1246_seg3 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:-161px;
  width:31px;
  height:8px;
}
#u1246_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1246_seg5 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:-167px;
  width:20px;
  height:20px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2388px;
  top:25px;
  width:447px;
  height:196px;
  color:#FFFFFF;
  line-height:28px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:1903px;
  top:0px;
  width:375px;
  height:667px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:347px;
  width:375px;
  height:667px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:0px;
  width:375px;
  height:667px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:348px;
  width:375px;
  height:667px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:2388px;
  top:270px;
  width:375px;
  height:667px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:29px;
  width:485px;
  height:139px;
  color:#FFFFFF;
  line-height:28px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:26px;
  width:30px;
  height:30px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:41px;
  width:0px;
  height:0px;
}
#u1255_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:256px;
  height:8px;
}
#u1255_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1255_seg2 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:26px;
  width:133px;
  height:30px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:26px;
  width:30px;
  height:30px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:190px;
  width:412px;
  height:122px;
  color:#FFFFFF;
  line-height:28px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  word-wrap:break-word;
}
#u1259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:314px;
  width:179px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u1260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:360px;
  width:148px;
  height:65px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:354px;
  width:0px;
  height:0px;
}
#u1261_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u1261_seg1 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:-318px;
  width:8px;
  height:322px;
}
#u1261_seg2 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:-318px;
  width:43px;
  height:8px;
}
#u1261_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1261_seg4 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:-324px;
  width:20px;
  height:20px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:145px;
  top:-87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:339px;
  width:30px;
  height:30px;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:519px;
  width:361px;
  height:39px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:524px;
  width:30px;
  height:30px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:313px;
  width:179px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u1266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2146px;
  top:360px;
  width:132px;
  height:60px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:2168px;
  top:330px;
  width:30px;
  height:30px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:2354px;
  top:23px;
  width:30px;
  height:30px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:2183px;
  top:330px;
  width:0px;
  height:0px;
}
#u1269_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u1269_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:138px;
  height:8px;
}
#u1269_seg2 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:-296px;
  width:8px;
  height:290px;
}
#u1269_seg3 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:-296px;
  width:45px;
  height:8px;
}
#u1269_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1269_seg5 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-302px;
  width:20px;
  height:20px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:2502px;
  top:27px;
  width:205px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u1271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:2389px;
  top:234px;
  width:179px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
