﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1404px;
  width:375px;
  height:667px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:479px;
  width:344px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:77px;
  width:98px;
  height:29px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:126px;
  width:367px;
  height:68px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:64px;
  width:30px;
  height:30px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:437px;
  width:385px;
  height:97px;
  color:#FFFFFF;
  line-height:28px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  word-wrap:break-word;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:207px;
  width:367px;
  height:110px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:115px;
  width:30px;
  height:30px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:296px;
  width:30px;
  height:30px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:79px;
  width:0px;
  height:0px;
}
#u981_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:327px;
  height:8px;
}
#u981_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u981_seg2 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:-10px;
  width:20px;
  height:20px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:64px;
  width:30px;
  height:30px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:82px;
  width:485px;
  height:136px;
  color:#FFFFFF;
  line-height:28px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:69px;
  width:171px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:79px;
  width:0px;
  height:0px;
}
#u985_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u985_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u985_seg2 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:20px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:241px;
  width:30px;
  height:30px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:130px;
  width:0px;
  height:0px;
}
#u987_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u987_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-4px;
  width:8px;
  height:134px;
}
#u987_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:122px;
  width:29px;
  height:8px;
}
#u987_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u987_seg4 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:116px;
  width:20px;
  height:20px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:241px;
  width:475px;
  height:146px;
  color:#FFFFFF;
  line-height:28px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:407px;
  width:30px;
  height:30px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:413px;
  width:205px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:423px;
  width:0px;
  height:0px;
}
#u991_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u991_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u991_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-10px;
  width:20px;
  height:20px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:311px;
  width:0px;
  height:0px;
}
#u992_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u992_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-4px;
  width:8px;
  height:119px;
}
#u992_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:107px;
  width:29px;
  height:8px;
}
#u992_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u992_seg4 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:101px;
  width:20px;
  height:20px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:727px;
  width:375px;
  height:667px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:817px;
  width:375px;
  height:667px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:808px;
  width:367px;
  height:160px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:922px;
  width:30px;
  height:30px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:664px;
  width:30px;
  height:30px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:937px;
  width:0px;
  height:0px;
}
#u998_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u998_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-262px;
  width:8px;
  height:266px;
}
#u998_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-262px;
  width:21px;
  height:8px;
}
#u998_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u998_seg4 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-268px;
  width:20px;
  height:20px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-117px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:664px;
  width:419px;
  height:146px;
  color:#FFFFFF;
  line-height:28px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  word-wrap:break-word;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3333;
  text-align:left;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:783px;
  width:179px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3333;
  text-align:left;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:1363px;
  width:0px;
  height:0px;
}
#u1001_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:8px;
  height:8px;
}
#u1001_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:71px;
  height:8px;
}
#u1001_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-399px;
  width:8px;
  height:399px;
}
#u1001_seg3 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-399px;
  width:47px;
  height:8px;
}
#u1001_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1001_seg5 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-405px;
  width:20px;
  height:20px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-196px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:1344px;
  width:30px;
  height:30px;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:953px;
  width:30px;
  height:30px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:957px;
  width:222px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:694px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1005_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u1005_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:6px;
  width:10px;
  height:8px;
}
#u1005_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:6px;
  width:8px;
  height:663px;
}
#u1005_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:661px;
  width:339px;
  height:8px;
}
#u1005_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1005_seg5 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:655px;
  width:20px;
  height:20px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:491px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
