﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1606px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:375px;
  height:667px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:77px;
  width:30px;
  height:30px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:51px;
  width:30px;
  height:30px;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:51px;
  width:30px;
  height:30px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:66px;
  width:0px;
  height:0px;
}
#u1294_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:375px;
  height:8px;
}
#u1294_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1294_seg2 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:136px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:56px;
  width:120px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:66px;
  width:0px;
  height:0px;
}
#u1296_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1296_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1296_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:180px;
  width:30px;
  height:30px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:115px;
  width:0px;
  height:0px;
}
#u1298_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u1298_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:88px;
}
#u1298_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:76px;
  width:20px;
  height:8px;
}
#u1298_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1298_seg4 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:70px;
  width:20px;
  height:20px;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:100px;
  width:30px;
  height:30px;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:169px;
  width:361px;
  height:41px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:724px;
  width:30px;
  height:30px;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:205px;
  width:0px;
  height:0px;
}
#u1302_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1302_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:542px;
}
#u1302_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:530px;
  width:39px;
  height:8px;
}
#u1302_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1302_seg4 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:524px;
  width:20px;
  height:20px;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:239px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:729px;
  width:120px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:739px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u1304_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u1304_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1304_seg2 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:175px;
  width:30px;
  height:30px;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:123px;
  width:361px;
  height:41px;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:129px;
  width:30px;
  height:30px;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:369px;
  width:30px;
  height:30px;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:144px;
  width:0px;
  height:0px;
}
#u1309_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1309_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:248px;
}
#u1309_seg2 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:236px;
  width:29px;
  height:8px;
}
#u1309_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1309_seg4 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:230px;
  width:20px;
  height:20px;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:59px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:933px;
  width:339px;
  height:59px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:754px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u1311_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:213px;
}
#u1311_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:205px;
  width:29px;
  height:8px;
}
#u1311_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1311_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:199px;
  width:20px;
  height:20px;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:99px;
  width:100px;
  word-wrap:break-word;
}
#u1312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1013px;
  width:175px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1047px;
  width:360px;
  height:42px;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1108px;
  width:175px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:57px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:557px;
  width:360px;
  height:57px;
}
#u1315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:523px;
  width:175px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:653px;
  width:360px;
  height:59px;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:620px;
  width:175px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  word-wrap:break-word;
}
#u1319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:120px;
  width:368px;
  height:591px;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:59px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:557px;
  width:364px;
  height:59px;
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:60px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:652px;
  width:365px;
  height:60px;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:523px;
  width:206px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  word-wrap:break-word;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:618px;
  width:206px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  word-wrap:break-word;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:74px;
  width:485px;
  height:90px;
  color:#FFFFFF;
  line-height:28px;
}
#u1324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:182px;
  width:485px;
  height:171px;
  color:#FFFFFF;
  line-height:28px;
}
#u1325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:369px;
  width:485px;
  height:150px;
  color:#FFFFFF;
  line-height:28px;
}
#u1326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:53px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:557px;
  width:375px;
  height:53px;
}
#u1327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:521px;
  width:206px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:202px;
  word-wrap:break-word;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1143px;
  width:375px;
  height:54px;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:749px;
  width:485px;
  height:166px;
  color:#FFFFFF;
  line-height:28px;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
