﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:375px;
  height:218px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:196px;
  width:458px;
  height:198px;
  color:#FFFFFF;
  line-height:28px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:214px;
  width:30px;
  height:30px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:44px;
  width:485px;
  height:142px;
  color:#FFFFFF;
  line-height:28px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:44px;
  width:30px;
  height:30px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:59px;
  width:0px;
  height:0px;
}
#u731_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:275px;
  height:8px;
}
#u731_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u731_seg2 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:-9px;
  width:19px;
  height:18px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:28px;
  width:133px;
  height:30px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:196px;
  width:30px;
  height:30px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:214px;
  width:0px;
  height:0px;
}
#u734_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u734_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:109px;
  height:8px;
}
#u734_seg2 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-18px;
  width:8px;
  height:19px;
}
#u734_seg3 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-7px;
  width:18px;
  height:8px;
}
#u734_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u734_seg5 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-12px;
  width:19px;
  height:18px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:398px;
  width:190px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:44px;
  width:30px;
  height:30px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:432px;
  width:667px;
  height:375px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
