﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1081px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:1081px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:139px;
  width:30px;
  height:30px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:182px;
  width:0px;
  height:0px;
}
#u1400_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-32px;
  width:8px;
  height:32px;
}
#u1400_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-32px;
  width:409px;
  height:8px;
}
#u1400_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1400_seg3 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:-38px;
  width:20px;
  height:20px;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:200px;
  width:74px;
  height:32px;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:182px;
  width:30px;
  height:30px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:233px;
  width:355px;
  height:203px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:201px;
  width:74px;
  height:32px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:201px;
  width:34px;
  height:32px;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:201px;
  width:34px;
  height:32px;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:444px;
  width:359px;
  height:184px;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:182px;
  width:30px;
  height:30px;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:182px;
  width:30px;
  height:30px;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:182px;
  width:30px;
  height:30px;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:288px;
  width:30px;
  height:30px;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:583px;
  width:30px;
  height:30px;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:274px;
  width:30px;
  height:30px;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:182px;
  width:0px;
  height:0px;
}
#u1414_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-16px;
  width:8px;
  height:16px;
}
#u1414_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-16px;
  width:210px;
  height:8px;
}
#u1414_seg2 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:-16px;
  width:8px;
  height:127px;
}
#u1414_seg3 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:103px;
  width:20px;
  height:8px;
}
#u1414_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1414_seg5 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:97px;
  width:20px;
  height:20px;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:412px;
  width:30px;
  height:30px;
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:182px;
  width:0px;
  height:0px;
}
#u1416_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u1416_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:117px;
  height:8px;
}
#u1416_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-9px;
  width:8px;
  height:258px;
}
#u1416_seg3 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:241px;
  width:27px;
  height:8px;
}
#u1416_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1416_seg5 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:235px;
  width:20px;
  height:20px;
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:59px;
  top:66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:548px;
  width:30px;
  height:30px;
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:659px;
  width:30px;
  height:30px;
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:197px;
  width:0px;
  height:0px;
}
#u1419_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u1419_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-4px;
  width:8px;
  height:374px;
}
#u1419_seg2 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:362px;
  width:35px;
  height:8px;
}
#u1419_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1419_seg4 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:356px;
  width:20px;
  height:20px;
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:177px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:303px;
  width:0px;
  height:0px;
}
#u1420_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:156px;
  height:8px;
}
#u1420_seg1 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-4px;
  width:8px;
  height:379px;
}
#u1420_seg2 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:367px;
  width:42px;
  height:8px;
}
#u1420_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1420_seg4 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:361px;
  width:20px;
  height:20px;
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:102px;
  top:120px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:771px;
  width:30px;
  height:30px;
}
#u1421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:386px;
  width:30px;
  height:30px;
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:139px;
  width:506px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:401px;
  width:0px;
  height:0px;
}
#u1424_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:322px;
  height:8px;
}
#u1424_seg1 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:-4px;
  width:8px;
  height:393px;
}
#u1424_seg2 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:381px;
  width:49px;
  height:8px;
}
#u1424_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1424_seg4 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:375px;
  width:20px;
  height:20px;
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:268px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:911px;
  width:30px;
  height:30px;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:598px;
  width:0px;
  height:0px;
}
#u1426_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u1426_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:336px;
}
#u1426_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:324px;
  width:56px;
  height:8px;
}
#u1426_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1426_seg4 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:318px;
  width:20px;
  height:20px;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:174px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:273px;
  width:506px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:411px;
  width:506px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:548px;
  width:506px;
  height:85px;
  color:#FFFFFF;
  line-height:28px;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:659px;
  width:506px;
  height:85px;
  color:#FFFFFF;
  line-height:28px;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:911px;
  width:506px;
  height:117px;
  color:#FFFFFF;
  line-height:28px;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u1432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:770px;
  width:506px;
  height:116px;
  color:#FFFFFF;
  line-height:28px;
}
#u1432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
