﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:162px;
  width:375px;
  height:667px;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:180px;
  width:363px;
  height:45px;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:26px;
  width:30px;
  height:30px;
}
#u331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u332_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:188px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:41px;
  width:0px;
  height:0px;
}
#u333_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u333_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u333_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-9px;
  width:19px;
  height:18px;
}
#u333_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:651px;
  width:375px;
  height:667px;
}
#u334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:203px;
  width:0px;
  height:0px;
}
#u335_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u335_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-30px;
  width:8px;
  height:34px;
}
#u335_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-30px;
  width:222px;
  height:8px;
}
#u335_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u335_seg4 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:-35px;
  width:19px;
  height:18px;
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:162px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:163px;
  width:460px;
  height:79px;
  color:#FFFFFF;
  line-height:28px;
}
#u337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:26px;
  width:450px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:26px;
  width:30px;
  height:30px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:56px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u340_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:151px;
}
#u340_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:143px;
  width:26px;
  height:8px;
}
#u340_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u340_seg3 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:138px;
  width:19px;
  height:18px;
}
#u340_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:27px;
  width:29px;
  height:30px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F5F5F5;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:192px;
  width:16px;
  height:22px;
  color:#F5F5F5;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:48px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:300px;
  width:384px;
  height:48px;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:266px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:713px;
  width:226px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:222px;
  word-wrap:break-word;
}
#u346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:617px;
  width:242px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:52px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:651px;
  width:384px;
  height:52px;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:53px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:747px;
  width:55px;
  height:53px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:53px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:747px;
  width:323px;
  height:53px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F5F5F5;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:763px;
  width:16px;
  height:22px;
  color:#F5F5F5;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:257px;
  width:113px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:257px;
  width:30px;
  height:30px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:323px;
  width:0px;
  height:0px;
}
#u353_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u353_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:27px;
  height:8px;
}
#u353_seg2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-55px;
  width:8px;
  height:58px;
}
#u353_seg3 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:-55px;
  width:122px;
  height:8px;
}
#u353_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u353_seg5 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-60px;
  width:19px;
  height:18px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:295px;
  width:492px;
  height:100px;
  color:#FFFFFF;
  line-height:20px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  word-wrap:break-word;
}
#u355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:305px;
  width:26px;
  height:39px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:283px;
  width:30px;
  height:30px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:192px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u357_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:136px;
}
#u357_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:128px;
  width:29px;
  height:8px;
}
#u357_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u357_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:123px;
  width:19px;
  height:18px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  word-wrap:break-word;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:411px;
  width:30px;
  height:30px;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:411px;
  width:460px;
  height:194px;
  color:#FFFFFF;
  line-height:28px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:348px;
  width:0px;
  height:0px;
}
#u360_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u360_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:43px;
}
#u360_seg2 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:31px;
  width:180px;
  height:8px;
}
#u360_seg3 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:31px;
  width:8px;
  height:32px;
}
#u360_seg4 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:19px;
  height:18px;
}
#u360_seg5 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:51px;
  width:18px;
  height:19px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:617px;
  width:179px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:188px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:203px;
  width:0px;
  height:0px;
}
#u363_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u363_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-4px;
  width:8px;
  height:665px;
}
#u363_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:653px;
  width:46px;
  height:8px;
}
#u363_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u363_seg4 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:648px;
  width:19px;
  height:18px;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:311px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:844px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:441px;
  width:0px;
  height:0px;
}
#u365_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:240px;
}
#u365_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:232px;
  width:29px;
  height:8px;
}
#u365_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u365_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:227px;
  width:19px;
  height:18px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:677px;
  width:0px;
  height:0px;
}
#u366_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u366_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-47px;
  width:8px;
  height:51px;
}
#u366_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-47px;
  width:43px;
  height:8px;
}
#u366_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u366_seg4 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-52px;
  width:19px;
  height:18px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:843px;
  width:460px;
  height:60px;
  color:#FFFFFF;
  line-height:28px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:40px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:936px;
  width:380px;
  height:40px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:902px;
  width:217px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:874px;
  width:0px;
  height:0px;
}
#u370_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u370_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:78px;
  width:29px;
  height:8px;
}
#u370_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u370_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:73px;
  width:19px;
  height:18px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:318px;
  width:30px;
  height:30px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:1389px;
  top:287px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u372_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-162px;
  width:8px;
  height:162px;
}
#u372_seg1 {
  border-width:0px;
  position:absolute;
  left:-753px;
  top:-162px;
  width:757px;
  height:8px;
}
#u372_seg2 {
  border-width:0px;
  position:absolute;
  left:-753px;
  top:-162px;
  width:8px;
  height:55px;
}
#u372_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u372_seg4 {
  border-width:0px;
  position:absolute;
  left:-758px;
  top:-120px;
  width:18px;
  height:19px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:-167px;
  width:100px;
  word-wrap:break-word;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u373 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:1010px;
  width:380px;
  height:90px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
