﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1468px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:162px;
  width:375px;
  height:667px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:70px;
  width:363px;
  height:34px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:337px;
  width:578px;
  height:268px;
  color:#FFFFFF;
  line-height:28px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:605px;
  width:375px;
  height:667px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:1188px;
  width:155px;
  height:16px;
  color:#FF0000;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:230px;
  width:375px;
  height:165px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:72px;
  width:0px;
  height:0px;
}
#u381_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-38px;
  width:8px;
  height:38px;
}
#u381_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-38px;
  width:90px;
  height:8px;
}
#u381_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u381_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-43px;
  width:19px;
  height:18px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:23px;
  width:375px;
  height:139px;
  color:#FFFFFF;
  line-height:28px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:72px;
  width:30px;
  height:30px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:23px;
  width:30px;
  height:30px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:53px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u385_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:264px;
}
#u385_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:256px;
  width:23px;
  height:8px;
}
#u385_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u385_seg3 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:251px;
  width:19px;
  height:18px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:130px;
  width:100px;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:432px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:668px;
  width:375px;
  height:432px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:352px;
  width:0px;
  height:0px;
}
#u387_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:145px;
  height:8px;
}
#u387_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u387_seg2 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-9px;
  width:19px;
  height:18px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:367px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u388_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:521px;
}
#u388_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:513px;
  width:29px;
  height:8px;
}
#u388_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u388_seg3 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:508px;
  width:19px;
  height:18px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:253px;
  width:100px;
  word-wrap:break-word;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:245px;
  width:0px;
  height:0px;
}
#u389_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u389_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-52px;
  width:8px;
  height:56px;
}
#u389_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-52px;
  width:14px;
  height:8px;
}
#u389_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u389_seg4 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-57px;
  width:19px;
  height:18px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:182px;
  width:349px;
  height:88px;
  color:#FFFFFF;
  line-height:28px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:182px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:230px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:337px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:337px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:571px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u396 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:855px;
  width:380px;
  height:67px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:360px;
  word-wrap:break-word;
}
