﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:728px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:728px;
}
#u933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:25px;
  width:30px;
  height:30px;
}
#u934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:136px;
  width:30px;
  height:30px;
}
#u935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u936_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:207px;
  width:30px;
  height:30px;
}
#u936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:486px;
  width:30px;
  height:30px;
}
#u937_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:29px;
  width:134px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u938_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:22px;
  width:96px;
  height:37px;
}
#u939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:25px;
  width:30px;
  height:30px;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:286px;
  width:355px;
  height:270px;
}
#u941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:284px;
  width:30px;
  height:30px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:40px;
  width:0px;
  height:0px;
}
#u943_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:286px;
  height:8px;
}
#u943_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u943_seg2 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:-10px;
  width:20px;
  height:20px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:151px;
  width:0px;
  height:0px;
}
#u944_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:251px;
  height:8px;
}
#u944_seg1 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:-4px;
  width:8px;
  height:79px;
}
#u944_seg2 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:67px;
  width:21px;
  height:8px;
}
#u944_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u944_seg4 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:61px;
  width:20px;
  height:20px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:299px;
  width:0px;
  height:0px;
}
#u945_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:306px;
  height:8px;
}
#u945_seg1 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:-4px;
  width:8px;
  height:210px;
}
#u945_seg2 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:198px;
  width:22px;
  height:8px;
}
#u945_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u945_seg4 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:192px;
  width:20px;
  height:20px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:211px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:54px;
  width:485px;
  height:136px;
  color:#FFFFFF;
  line-height:28px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:40px;
  width:0px;
  height:0px;
}
#u947_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u947_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u947_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:211px;
  width:486px;
  height:258px;
  color:#FFFFFF;
  line-height:28px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:211px;
  width:161px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:485px;
  width:454px;
  height:92px;
  color:#FFFFFF;
  line-height:28px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
