﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1454px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:677px;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:302px;
  width:395px;
  height:677px;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:310px;
  width:30px;
  height:30px;
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1539_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:482px;
  width:30px;
  height:30px;
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:107px;
  width:489px;
  height:61px;
  color:#FFFFFF;
  line-height:28px;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1543_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:106px;
  width:30px;
  height:30px;
}
#u1543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:188px;
  width:30px;
  height:30px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:159px;
  width:57px;
  height:34px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:143px;
  width:30px;
  height:30px;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:229px;
  width:363px;
  height:179px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:158px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1548_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:311px;
  height:8px;
}
#u1548_seg1 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:-41px;
  width:8px;
  height:45px;
}
#u1548_seg2 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:-41px;
  width:51px;
  height:8px;
}
#u1548_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1548_seg4 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:-47px;
  width:20px;
  height:20px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:187px;
  width:302px;
  height:95px;
  color:#FFFFFF;
  line-height:28px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:211px;
  width:30px;
  height:30px;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:226px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1551_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u1551_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-27px;
  width:8px;
  height:31px;
}
#u1551_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-27px;
  width:37px;
  height:8px;
}
#u1551_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1551_seg4 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-33px;
  width:20px;
  height:20px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:218px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1552_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:283px;
}
#u1552_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:275px;
  width:193px;
  height:8px;
}
#u1552_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1552_seg3 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:269px;
  width:20px;
  height:20px;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:225px;
  width:100px;
  word-wrap:break-word;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:497px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1553_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:267px;
  height:8px;
}
#u1553_seg1 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:-176px;
  width:8px;
  height:180px;
}
#u1553_seg2 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:-176px;
  width:52px;
  height:8px;
}
#u1553_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1553_seg4 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:-182px;
  width:20px;
  height:20px;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:309px;
  width:410px;
  height:176px;
  color:#FFFFFF;
  line-height:28px;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
