﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:899px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:899px;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:375px;
  height:213px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:767px;
  width:10px;
  height:14px;
}
#u526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:766px;
  width:57px;
  height:16px;
}
#u527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:117px;
  width:30px;
  height:30px;
}
#u528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:18px;
  width:454px;
  height:140px;
  color:#FFFFFF;
  line-height:28px;
}
#u529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:333px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:600px;
  width:554px;
  height:333px;
}
#u530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:999px;
  width:566px;
  height:140px;
  color:#FFFFFF;
  line-height:28px;
}
#u531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  word-wrap:break-word;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:18px;
  width:30px;
  height:30px;
}
#u532_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:132px;
  width:0px;
  height:0px;
}
#u533_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u533_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-103px;
  width:8px;
  height:107px;
}
#u533_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-103px;
  width:15px;
  height:8px;
}
#u533_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u533_seg4 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-108px;
  width:19px;
  height:18px;
}
#u533_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:192px;
  width:38px;
  height:39px;
}
#u534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:169px;
  width:30px;
  height:30px;
}
#u535_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:169px;
  width:454px;
  height:151px;
  color:#FFFFFF;
  line-height:28px;
}
#u536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:192px;
  width:38px;
  height:39px;
}
#u537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:288px;
  width:38px;
  height:32px;
}
#u538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:273px;
  width:30px;
  height:30px;
}
#u539_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u540_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:169px;
  width:30px;
  height:30px;
}
#u540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:289px;
  width:54px;
  height:31px;
}
#u541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:273px;
  width:30px;
  height:30px;
}
#u542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:184px;
  width:0px;
  height:0px;
}
#u543_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:375px;
  height:8px;
}
#u543_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u543_seg2 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:-9px;
  width:19px;
  height:18px;
}
#u543_text {
  border-width:0px;
  position:absolute;
  left:136px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:341px;
  width:454px;
  height:91px;
  color:#FFFFFF;
  line-height:28px;
}
#u544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:341px;
  width:30px;
  height:30px;
}
#u545_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:305px;
  width:0px;
  height:0px;
}
#u546_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u546_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-48px;
  width:8px;
  height:52px;
}
#u546_seg2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-48px;
  width:171px;
  height:8px;
}
#u546_seg3 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:-48px;
  width:8px;
  height:103px;
}
#u546_seg4 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:47px;
  width:14px;
  height:8px;
}
#u546_seg5 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u546_seg6 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:42px;
  width:19px;
  height:18px;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:449px;
  width:554px;
  height:93px;
  color:#FFFFFF;
  line-height:28px;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:435px;
  width:30px;
  height:30px;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:304px;
  width:0px;
  height:0px;
}
#u549_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:29px;
  height:8px;
}
#u549_seg1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-4px;
  width:8px;
  height:154px;
}
#u549_seg2 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:142px;
  width:35px;
  height:8px;
}
#u549_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u549_seg4 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:137px;
  width:19px;
  height:18px;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:450px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u550_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:291px;
  height:8px;
}
#u550_seg1 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:-4px;
  width:8px;
  height:154px;
}
#u550_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u550_seg3 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:137px;
  width:18px;
  height:19px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:607px;
  width:122px;
  height:32px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:590px;
  width:30px;
  height:30px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:605px;
  width:0px;
  height:0px;
}
#u553_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-4px;
  width:15px;
  height:8px;
}
#u553_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-4px;
  width:8px;
  height:404px;
}
#u553_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:19px;
  height:18px;
}
#u553_seg3 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:388px;
  width:18px;
  height:19px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:186px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:1005px;
  width:30px;
  height:30px;
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:624px;
  width:30px;
  height:30px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:725px;
  width:30px;
  height:30px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:871px;
  width:30px;
  height:30px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:742px;
  width:53px;
  height:51px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:741px;
  width:53px;
  height:51px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:891px;
  width:53px;
  height:42px;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:1200px;
  width:554px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  word-wrap:break-word;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:1035px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u562_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u562_seg1 {
  border-width:0px;
  position:absolute;
  left:-262px;
  top:11px;
  width:266px;
  height:8px;
}
#u562_seg2 {
  border-width:0px;
  position:absolute;
  left:-262px;
  top:-136px;
  width:8px;
  height:155px;
}
#u562_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u562_seg4 {
  border-width:0px;
  position:absolute;
  left:-267px;
  top:-142px;
  width:18px;
  height:19px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:-247px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:1160px;
  width:30px;
  height:30px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:1160px;
  width:30px;
  height:30px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1160px;
  width:30px;
  height:30px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:333px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:600px;
  width:593px;
  height:333px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:563px;
  width:338px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:334px;
  word-wrap:break-word;
}
#u568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:566px;
  width:272px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:268px;
  word-wrap:break-word;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:933px;
  width:829px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  white-space:nowrap;
}
