﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u1452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:358px;
  width:33px;
  height:38px;
}
#u1454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:360px;
  width:187px;
  height:38px;
}
#u1455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:358px;
  width:79px;
  height:38px;
}
#u1456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:360px;
  width:33px;
  height:38px;
}
#u1457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:222px;
  width:30px;
  height:30px;
}
#u1458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1459_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:335px;
  width:30px;
  height:30px;
}
#u1459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1460_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:337px;
  width:30px;
  height:30px;
}
#u1460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:341px;
  width:30px;
  height:30px;
}
#u1461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1462_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:339px;
  width:30px;
  height:30px;
}
#u1462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:97px;
  width:489px;
  height:146px;
  color:#FFFFFF;
  line-height:28px;
}
#u1463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:266px;
  width:489px;
  height:162px;
  color:#FFFFFF;
  line-height:28px;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:418px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:452px;
  width:20px;
  height:20px;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:452px;
  width:20px;
  height:20px;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:501px;
  width:489px;
  height:144px;
  color:#FFFFFF;
  line-height:28px;
}
#u1468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u1469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:671px;
  width:638px;
  height:169px;
  color:#FFFFFF;
  line-height:28px;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:872px;
  width:257px;
  height:98px;
  color:#FFFFFF;
  line-height:28px;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u1471_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:96px;
  width:30px;
  height:30px;
}
#u1471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:237px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1472_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u1472_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-130px;
  width:8px;
  height:134px;
}
#u1472_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-130px;
  width:33px;
  height:8px;
}
#u1472_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1472_seg4 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-136px;
  width:20px;
  height:20px;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:266px;
  width:30px;
  height:30px;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:418px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:501px;
  width:30px;
  height:30px;
}
#u1475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:671px;
  width:30px;
  height:30px;
}
#u1476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:872px;
  width:30px;
  height:30px;
}
#u1477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1478_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:58px;
}
#u1478_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-58px;
  width:415px;
  height:8px;
}
#u1478_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1478_seg3 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:-64px;
  width:20px;
  height:20px;
}
#u1478_text {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:337px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1479_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-40px;
  width:8px;
  height:40px;
}
#u1479_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-40px;
  width:336px;
  height:8px;
}
#u1479_seg2 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:-40px;
  width:8px;
  height:223px;
}
#u1479_seg3 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:175px;
  width:21px;
  height:8px;
}
#u1479_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1479_seg5 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:169px;
  width:20px;
  height:20px;
}
#u1479_text {
  border-width:0px;
  position:absolute;
  left:212px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:341px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1480_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-25px;
  width:8px;
  height:25px;
}
#u1480_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-25px;
  width:193px;
  height:8px;
}
#u1480_seg2 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:-25px;
  width:8px;
  height:374px;
}
#u1480_seg3 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:341px;
  width:37px;
  height:8px;
}
#u1480_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u1480_seg5 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:335px;
  width:20px;
  height:20px;
}
#u1480_text {
  border-width:0px;
  position:absolute;
  left:135px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:354px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1481_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u1481_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-4px;
  width:8px;
  height:541px;
}
#u1481_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:529px;
  width:57px;
  height:8px;
}
#u1481_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1481_seg4 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:523px;
  width:20px;
  height:20px;
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:275px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:872px;
  width:182px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
