﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1299px;
  width:667px;
  height:375px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:728px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:728px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:256px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:290px;
  width:375px;
  height:256px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:165px;
  width:30px;
  height:30px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:257px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:290px;
  width:375px;
  height:257px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:100px;
  width:489px;
  height:146px;
  color:#FFFFFF;
  line-height:28px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:100px;
  width:30px;
  height:30px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1730px;
  width:600px;
  height:140px;
  color:#FFFFFF;
  line-height:28px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:340px;
  width:32px;
  height:29px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:370px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:2261px;
  width:657px;
  height:370px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:180px;
  width:0px;
  height:0px;
}
#u621_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u621_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-69px;
  width:8px;
  height:73px;
}
#u621_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-69px;
  width:21px;
  height:8px;
}
#u621_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u621_seg4 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-74px;
  width:19px;
  height:18px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:256px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:256px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:310px;
  width:30px;
  height:30px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:340px;
  width:84px;
  height:29px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:316px;
  width:30px;
  height:30px;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:340px;
  width:197px;
  height:29px;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:362px;
  width:30px;
  height:30px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:340px;
  width:34px;
  height:29px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:575px;
  width:30px;
  height:30px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:310px;
  width:0px;
  height:0px;
}
#u631_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u631_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-33px;
  width:8px;
  height:37px;
}
#u631_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-33px;
  width:453px;
  height:8px;
}
#u631_seg3 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:-33px;
  width:8px;
  height:302px;
}
#u631_seg4 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:261px;
  width:5px;
  height:8px;
}
#u631_seg5 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u631_seg6 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:256px;
  width:19px;
  height:18px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:306px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:575px;
  width:489px;
  height:162px;
  color:#FFFFFF;
  line-height:28px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:737px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:737px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:771px;
  width:20px;
  height:20px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:771px;
  width:20px;
  height:20px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:805px;
  width:30px;
  height:30px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:316px;
  width:0px;
  height:0px;
}
#u638_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u638_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:340px;
  height:8px;
}
#u638_seg2 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:-18px;
  width:8px;
  height:526px;
}
#u638_seg3 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:500px;
  width:22px;
  height:8px;
}
#u638_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u638_seg5 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:495px;
  width:19px;
  height:18px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:282px;
  top:73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:362px;
  width:30px;
  height:30px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:805px;
  width:489px;
  height:144px;
  color:#FFFFFF;
  line-height:28px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:957px;
  width:30px;
  height:30px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:960px;
  width:638px;
  height:169px;
  color:#FFFFFF;
  line-height:28px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:362px;
  width:0px;
  height:0px;
}
#u643_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-48px;
  width:8px;
  height:48px;
}
#u643_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-48px;
  width:211px;
  height:8px;
}
#u643_seg2 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:-48px;
  width:8px;
  height:662px;
}
#u643_seg3 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:606px;
  width:39px;
  height:8px;
}
#u643_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u643_seg5 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:601px;
  width:19px;
  height:18px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:153px;
  top:169px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:1140px;
  width:30px;
  height:30px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:392px;
  width:0px;
  height:0px;
}
#u645_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:767px;
}
#u645_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:759px;
  width:103px;
  height:8px;
}
#u645_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u645_seg3 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:754px;
  width:19px;
  height:18px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:423px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1158px;
  width:257px;
  height:98px;
  color:#FFFFFF;
  line-height:28px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1155px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u647_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:340px;
  height:8px;
}
#u647_seg1 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:-4px;
  width:8px;
  height:148px;
}
#u647_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u647_seg3 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:131px;
  width:18px;
  height:19px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:190px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1308px;
  width:138px;
  height:35px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1289px;
  width:30px;
  height:30px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:1632px;
  width:35px;
  height:35px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1632px;
  width:70px;
  height:35px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:1632px;
  width:88px;
  height:35px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1614px;
  width:30px;
  height:30px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:1614px;
  width:30px;
  height:30px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:1614px;
  width:30px;
  height:30px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:1632px;
  width:391px;
  height:35px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:1632px;
  width:35px;
  height:35px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:1614px;
  width:30px;
  height:30px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:1614px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1730px;
  width:30px;
  height:30px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1745px;
  width:0px;
  height:0px;
}
#u661_seg0 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-4px;
  width:36px;
  height:8px;
}
#u661_seg1 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-445px;
  width:8px;
  height:449px;
}
#u661_seg2 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-445px;
  width:36px;
  height:8px;
}
#u661_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:19px;
  height:18px;
}
#u661_seg4 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-450px;
  width:19px;
  height:18px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-228px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1881px;
  width:30px;
  height:30px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1881px;
  width:30px;
  height:30px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1881px;
  width:30px;
  height:30px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1921px;
  width:554px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:1441px;
  width:30px;
  height:30px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:1881px;
  width:30px;
  height:30px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1969px;
  width:30px;
  height:30px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1969px;
  width:0px;
  height:0px;
}
#u669_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u669_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-17px;
  width:607px;
  height:8px;
}
#u669_seg2 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:-373px;
  width:8px;
  height:364px;
}
#u669_seg3 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-373px;
  width:537px;
  height:8px;
}
#u669_seg4 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-373px;
  width:8px;
  height:22px;
}
#u669_seg5 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-359px;
  width:5px;
  height:8px;
}
#u669_seg6 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u669_seg7 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-364px;
  width:19px;
  height:18px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:549px;
  top:-165px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:1969px;
  width:600px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1760px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u671_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u671_seg1 {
  border-width:0px;
  position:absolute;
  left:-316px;
  top:6px;
  width:320px;
  height:8px;
}
#u671_seg2 {
  border-width:0px;
  position:absolute;
  left:-316px;
  top:-982px;
  width:8px;
  height:996px;
}
#u671_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u671_seg4 {
  border-width:0px;
  position:absolute;
  left:-321px;
  top:-988px;
  width:18px;
  height:19px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:-334px;
  width:100px;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1262px;
  width:338px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:334px;
  word-wrap:break-word;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:1262px;
  width:272px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:268px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:1296px;
  width:667px;
  height:375px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:2111px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:2111px;
  width:600px;
  height:140px;
  color:#FFFFFF;
  line-height:28px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:2111px;
  width:0px;
  height:0px;
}
#u677_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-24px;
  width:8px;
  height:24px;
}
#u677_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-24px;
  width:682px;
  height:8px;
}
#u677_seg2 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:-486px;
  width:8px;
  height:471px;
}
#u677_seg3 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:-486px;
  width:28px;
  height:8px;
}
#u677_seg4 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:-486px;
  width:8px;
  height:8px;
}
#u677_seg5 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:-482px;
  width:8px;
  height:4px;
}
#u677_seg6 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u677_seg7 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:-494px;
  width:18px;
  height:19px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:518px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1674px;
  width:829px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  white-space:nowrap;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:2141px;
  width:0px;
  height:0px;
  color:#FF3333;
}
#u679_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:309px;
}
#u679_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:301px;
  width:370px;
  height:8px;
}
#u679_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:18px;
  height:19px;
}
#u679_seg3 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:296px;
  width:19px;
  height:18px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:296px;
  width:100px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:2399px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:2641px;
  width:560px;
  height:196px;
  color:#FFFFFF;
  line-height:28px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:2641px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:26px;
  word-wrap:break-word;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:2641px;
  width:0px;
  height:0px;
}
#u684_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-55px;
  width:8px;
  height:55px;
}
#u684_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-55px;
  width:420px;
  height:8px;
}
#u684_seg2 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:-212px;
  width:8px;
  height:165px;
}
#u684_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:19px;
}
#u684_seg4 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:-219px;
  width:18px;
  height:19px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:211px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:370px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:2261px;
  width:318px;
  height:370px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
