﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:375px;
  height:667px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:40px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:153px;
  width:31px;
  height:30px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:40px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:270px;
  width:31px;
  height:30px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:270px;
  width:0px;
  height:0px;
}
#u805_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u805_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-14px;
  width:132px;
  height:8px;
}
#u805_seg2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-106px;
  width:8px;
  height:100px;
}
#u805_seg3 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-106px;
  width:22px;
  height:8px;
}
#u805_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u805_seg5 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-112px;
  width:20px;
  height:20px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:40px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:336px;
  width:31px;
  height:30px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:40px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:336px;
  width:31px;
  height:30px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:351px;
  width:0px;
  height:0px;
}
#u808_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:268px;
  height:8px;
}
#u808_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u808_seg2 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:-10px;
  width:20px;
  height:20px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:336px;
  width:486px;
  height:119px;
  color:#FFFFFF;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  word-wrap:break-word;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:366px;
  width:0px;
  height:0px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3333;
}
#u810_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u810_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:108px;
  width:412px;
  height:8px;
}
#u810_seg2 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:108px;
  width:8px;
  height:77px;
}
#u810_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u810_seg4 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:170px;
  width:20px;
  height:20px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:132px;
  top:76px;
  width:100px;
  word-wrap:break-word;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:366px;
  width:0px;
  height:0px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3333;
}
#u811_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:153px;
}
#u811_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:145px;
  width:131px;
  height:8px;
}
#u811_seg2 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:145px;
  width:8px;
  height:41px;
}
#u811_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u811_seg4 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:171px;
  width:20px;
  height:20px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:122px;
  width:100px;
  word-wrap:break-word;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:552px;
  width:205px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:551px;
  width:205px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:122px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:376px;
  width:375px;
  height:122px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:285px;
  width:352px;
  height:209px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:154px;
  width:113px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:186px;
  width:470px;
  height:108px;
  color:#FFFFFF;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:95px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:360px;
  width:89px;
  height:95px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
  text-align:left;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:326px;
  width:149px;
  height:34px;
  color:#FF3333;
  text-align:left;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:544px;
  width:0px;
  height:0px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3333;
}
#u821_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u821_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:66px;
  width:134px;
  height:8px;
}
#u821_seg2 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:66px;
  width:8px;
  height:51px;
}
#u821_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u821_seg4 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:102px;
  width:20px;
  height:20px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:100px;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:663px;
  width:375px;
  height:667px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:688px;
  width:95px;
  height:38px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:694px;
  width:0px;
  height:0px;
}
#u824_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:8px;
  height:8px;
}
#u824_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:90px;
  height:8px;
}
#u824_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u824_seg3 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-14px;
  width:20px;
  height:20px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:675px;
  width:30px;
  height:30px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:690px;
  width:0px;
  height:0px;
}
#u826_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:309px;
  height:8px;
}
#u826_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u826_seg2 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:-10px;
  width:20px;
  height:20px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:705px;
  width:485px;
  height:136px;
  color:#FFFFFF;
  line-height:28px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  word-wrap:break-word;
}
#u828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:679px;
  width:171px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:675px;
  width:30px;
  height:30px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
