﻿body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:206px;
  width:30px;
  height:30px;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:22px;
  width:375px;
  height:667px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:22px;
  width:30px;
  height:30px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:264px;
  width:30px;
  height:30px;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:26px;
  width:182px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:46px;
  height:46px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:551px;
  width:36px;
  height:36px;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:442px;
  width:30px;
  height:30px;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:442px;
  width:345px;
  height:92px;
  color:#FFFFFF;
  line-height:28px;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:556px;
  width:30px;
  height:30px;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:46px;
  height:46px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:479px;
  width:36px;
  height:36px;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:480px;
  width:330px;
  height:139px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:46px;
  height:46px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:917px;
  width:36px;
  height:36px;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u1087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:1419px;
  top:920px;
  width:319px;
  height:140px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u1087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:690px;
  width:30px;
  height:30px;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:962px;
  width:326px;
  height:196px;
  color:#FFFFFF;
  line-height:28px;
}
#u1089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  height:47px;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:22px;
  width:30px;
  height:30px;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:294px;
  width:49px;
  height:55px;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:297px;
  width:30px;
  height:30px;
}
#u1093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:549px;
  width:49px;
  height:55px;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:556px;
  width:30px;
  height:30px;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:616px;
  width:375px;
  height:51px;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:645px;
  width:30px;
  height:30px;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:569px;
  width:0px;
  height:0px;
}
#u1098_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:337px;
  height:8px;
}
#u1098_seg1 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:-54px;
  width:8px;
  height:58px;
}
#u1098_seg2 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1098_seg3 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:-61px;
  width:20px;
  height:20px;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:37px;
  width:0px;
  height:0px;
}
#u1099_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:268px;
  height:8px;
}
#u1099_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1099_seg2 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:44px;
  width:388px;
  height:136px;
  color:#FFFFFF;
  line-height:28px;
}
#u1100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:39px;
  width:0px;
  height:0px;
}
#u1101_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u1101_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1101_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1101_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:963px;
  width:193px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:721px;
  width:375px;
  height:667px;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:46px;
  height:47px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:1281px;
  width:36px;
  height:37px;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  word-wrap:break-word;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:1300px;
  width:0px;
  height:0px;
}
#u1105_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u1105_seg1 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:-369px;
  width:8px;
  height:373px;
}
#u1105_seg2 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:-369px;
  width:56px;
  height:8px;
}
#u1105_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1105_seg4 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-375px;
  width:20px;
  height:20px;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-138px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:358px;
  width:49px;
  height:117px;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:485px;
  width:49px;
  height:55px;
}
#u1107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:402px;
  width:30px;
  height:30px;
}
#u1108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:489px;
  width:30px;
  height:30px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:76px;
  width:106px;
  height:40px;
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:78px;
  width:30px;
  height:30px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:206px;
  width:387px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:336px;
  width:30px;
  height:30px;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:336px;
  width:375px;
  height:85px;
  color:#FFFFFF;
  line-height:28px;
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u1115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:556px;
  width:409px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  word-wrap:break-word;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:471px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1116_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u1116_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:74px;
}
#u1116_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:67px;
  width:446px;
  height:8px;
}
#u1116_seg3 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:67px;
  width:8px;
  height:34px;
}
#u1116_seg4 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:93px;
  width:68px;
  height:8px;
}
#u1116_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1116_seg6 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:87px;
  width:20px;
  height:20px;
}
#u1116_text {
  border-width:0px;
  position:absolute;
  left:178px;
  top:63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:690px;
  width:406px;
  height:112px;
  color:#FFFFFF;
  line-height:28px;
}
#u1117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:827px;
  width:30px;
  height:30px;
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:827px;
  width:360px;
  height:118px;
  color:#FFFFFF;
  line-height:28px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:962px;
  width:30px;
  height:30px;
}
#u1120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:93px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1121_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:286px;
  height:8px;
}
#u1121_seg1 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:-4px;
  width:8px;
  height:136px;
}
#u1121_seg2 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:124px;
  width:28px;
  height:8px;
}
#u1121_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1121_seg4 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:118px;
  width:20px;
  height:20px;
}
#u1121_text {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:279px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1122_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:272px;
  height:8px;
}
#u1122_seg1 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:-4px;
  width:8px;
  height:80px;
}
#u1122_seg2 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:68px;
  width:21px;
  height:8px;
}
#u1122_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1122_seg4 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:62px;
  width:20px;
  height:20px;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:417px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1123_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u1123_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-4px;
  width:8px;
  height:162px;
}
#u1123_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:150px;
  width:37px;
  height:8px;
}
#u1123_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1123_seg4 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:144px;
  width:20px;
  height:20px;
}
#u1123_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:312px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1124_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u1124_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:153px;
}
#u1124_seg2 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:141px;
  width:31px;
  height:8px;
}
#u1124_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1124_seg4 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:135px;
  width:20px;
  height:20px;
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:504px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1125_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u1125_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:209px;
}
#u1125_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:197px;
  width:45px;
  height:8px;
}
#u1125_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1125_seg4 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:191px;
  width:20px;
  height:20px;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:571px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1126_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u1126_seg1 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:279px;
}
#u1126_seg2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:267px;
  width:54px;
  height:8px;
}
#u1126_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1126_seg4 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:261px;
  width:20px;
  height:20px;
}
#u1126_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:124px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:857px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1127_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u1127_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:94px;
}
#u1127_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:87px;
  width:442px;
  height:8px;
}
#u1127_seg3 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:87px;
  width:8px;
  height:360px;
}
#u1127_seg4 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:439px;
  width:253px;
  height:8px;
}
#u1127_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u1127_seg6 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:433px;
  width:20px;
  height:20px;
}
#u1127_text {
  border-width:0px;
  position:absolute;
  left:384px;
  top:121px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1128_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u1128_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:325px;
}
#u1128_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:313px;
  width:63px;
  height:8px;
}
#u1128_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1128_seg4 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:307px;
  width:20px;
  height:20px;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
